body {
    background: radial-gradient(
      circle at 8% 50%,
      rgb(21, 211, 224),
      rgb(144, 124, 195),
      rgb(243, 78, 232),
      rgb(244, 57, 138)
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
  }
  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  form label{
    font-size: 24px;
    text-align: left;
  }
  form input{
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 6vh;
    margin: 10px;
  }